Temp
Library/**
ProjectSettings
Packages
SimpleAnimation.sln
SimpleAnimation.csproj
SimpleAnimation.Editor.csproj
.vs
*.csproj
Logs/
obj/

# OS generated
# Windows
ehthumbs.db
Thumbs.db
# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
